langchain
langchain-google-genai
google-generativeai
langchain-openai
networkx
openai
networkx
matplotlib
seaborn
pandas
numpy
plotly
sentence-transformers
textblob
langgraph
pydantic
python-dotenv
pygraphviz
